@{
    ViewData["Title"] = "Home Page";
}

<br />
<img src="~/Images/adminarea.png" alt="Àrea de Administração" class="marginTop1" />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Esta é a área do Administrador</h2>
        </p>
    </div>
</div>
